<h2>Analyse de contrat PDF</h2>

<!-- Sélectionner un fichier PDF -->
<input type="file" (change)="onFileSelected($event)" />

<!-- Afficher un spinner lorsque la requête est en cours -->
<div *ngIf="isLoading" class="spinner-container">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Chargement...</span>
  </div>
  <p>Chargement...</p>
</div>

<!-- Afficher les informations si disponibles -->
<div *ngIf="fournisseur || montant || etablissement " class="mt-4">
  <label>Fournisseur :</label>
  <input type="text" [value]="fournisseur" class="form-control" readonly />

  
  <label class="mt-2">Montant du contrat :</label>
  <input type="text" [value]="montant" class="form-control" readonly />
  <label class="mt-2">etablissement du contrat :</label>
  <input type="text" [value]="etablissement" class="form-control" readonly />
</div>
