<div class="d-flex justify-content-between mb-3">
  <h5 class="mb-0">Gestion des Dossiers</h5>
  <input type="text" class="form-control w-25" placeholder="Rechercher..." >
</div>
<table class="styled-table">
  <thead>
  <tr>
    <th>Numéro Dossier</th>
    <th>Intitulé</th>
    <th>Type Passation</th>
    <th>Date Soumission</th>
    <th>État</th>
    <th>Nom de l'utilisateur</th> <th>Fichiers</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of dossiers; let i = index">
    <td>{{ item.dossier?.numeroDossier || 'N/A' }}</td>
    <td>{{ item.dossier?.intitule || 'N/A' }}</td>
    <td>{{ item.dossier?.typePassation || 'N/A' }}</td>
    <td>{{ formatDate(item.dossier?.dateSoumission) || 'N/A' }}</td>
    <td>
      <span class="badge" [ngClass]="getEtatClass(item.dossier?.etat)">
        {{ item.dossier?.etat || 'N/A' }}
      </span>
    </td>
    <td>{{ getAddedByUserName(item) }}</td> <td>
    <div class="file-list" *ngIf="item.fileDetails; else noFiles">
      <button *ngFor="let fileName of getFilesNames(item.fileDetails)"
              (click)="openFile(item.fileDetails[fileName])"
              class="file-btn">
        📂 {{ fileName }} <br>
      </button>
    </div>
    <ng-template #noFiles>
      <span class="no-file">Aucun fichier</span>
    </ng-template>
  </td>
  </tr>
  </tbody>
</table>
